<div class="container-all">
<h2>There are currently <b><%= Contact.all.length %></b></h2>

<ul class="contact-list">
<% Contact.all.each do |contact| %>
  <div class="contact-container">
  <li><%= contact.first_name %> <%= contact.last_name %>
  <a href="/contacts/edit">Edit</a> | <a href="/contacts/delete">Delete</a>
  </li>
</div>
  <% end %>
</ul>
</div>
