<h2>There are currently <b><%= Contact.all.length %></b></h2>

<div class="contact-container">
<ul>
<% Contact.all.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %> </li>
<div class="contact-options">
  <a href="/contacts/edit">Edit</a> | <a href="/contacts/delete">Delete</a>
  <% end %>
</ul>

</div>
