<h2>Create new Contact</h2>

<div class="form-container">
<form action='/contacts' method='post'>
  <label>
    First Name:
    <input type='text' name='first_name'>
  </label>

  <label>
    Last Name:
    <input type='text' name='last_name'>
  </label>

  <label>
    Email:
    <input type='text' name='email'>
  </label>

  <label>
    Note:
    <input type='text' name='note'>
  </label>

  <input type='submit' value='Create New Contact'>
</form>
</div>
