*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: helvetica, arial, sans-serif;
}

.main-header {
  color: white;
  width: 99.999%;
  text-align: center;
  text-transform: uppercase;
}

main {
  width: 60%;
  margin: 0 auto;
}

h1 {
  background-color: #454545;
  margin: 0px;
  padding: 15px;
}

.nav-links > li{
  background-color: darkgray;
  padding: 5px 0px;
  margin: 1px 0;
  float: left;
  width: 33.333%;
  list-style: none;
}

.nav-links {
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
}
/* STYLES FOR INDEX/VIEW ALL CONTACTS */

.contact-container {
  background-color: gray;
  margin-bottom: 10px;
}

.contact-list {
  list-style: none;
  padding: 0px
}

.contact-list li {
  padding: 15px 20px 0 20px;
  color: white;
}

.contact-list li > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding-right: 11px;
}

.contact-options {
  padding: 5px 20px 15px 20px;
}
